<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>431657274502-5hi8j4hrod651c4u4j002st2pf04fs8s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.431657274502-5hi8j4hrod651c4u4j002st2pf04fs8s</string>
	<key>API_KEY</key>
	<string>AIzaSyAEuiryJ_E43spwoZu0Qq9356FTleFXcUc</string>
	<key>GCM_SENDER_ID</key>
	<string>431657274502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sportSyncProFlutter</string>
	<key>PROJECT_ID</key>
	<string>sport-sync-pro</string>
	<key>STORAGE_BUCKET</key>
	<string>sport-sync-pro.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:431657274502:ios:2f7b0d1a51cd6c7d3bd507</string>
	<key>DATABASE_URL</key>
	<string>https://sport-sync-pro-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>